<app-navigation-bar></app-navigation-bar>

<div class="slides slowFade">
    <div class="slide">
        <img src="../../assets/images/slide img1.png" alt="img">
    </div>
    <div class="slide">
        <img src="../../assets/images/slide img5.png" alt="img">
    </div>
    <div class="slide">
        <img src="../../assets/images/slide img2.png" alt="img">
    </div>
    
</div>
<div class="sp-label"> 
    <h2>SPONSORS & PARTNERS</h2>
</div>

<div class="sponsors-row">
    <div class="partners-col">
        <div class="box">
            <h3>PROSTHETICS SPONSOR</h3>
            <img src="https://helpinghandsindia.in/assets/img/pure-nutrition-logo.png" alt="pure nutrition logo">
        </div>
    </div>
    <div class="partners-col">
        <div class="box">
            <h3>CORPORATE SPONSOR</h3>
            <img src="https://helpinghandsindia.in/assets/img/echjay.png" alt="">

        </div>
    </div>
    <div class="partners-col">
        <div class="box">
            <h3>DONOR</h3>
            <img src="https://helpinghandsindia.in/assets/img/giveindia.png" alt="">

        </div>
    </div>
    <div class="partners-col">
        <div class="box">
            <h3>CROWDFUNDING PARTNER</h3>
            <img src="https://helpinghandsindia.in/assets/img/fueladream.png" alt="">

        </div>
    </div>

</div>
<h3 id="more-details-footer"><u>For More Details</u></h3>
<div class="footer-row">
    <div class="footer-col">
        <div class="box-info">
           <h4><u>Follow Us</u></h4> 
           <p>Facebook</p>
           <p>Twitter</p>
           <p>Youtube</p>
           <p>Instagram</p>
           <p>LinkedIn</p>
        </div>
    </div>
    <div class="footer-col">
        <div class="box-info">
           <h4><u>Reach Us</u></h4> 
           <p>
            3rd & 4th Floor, Deep Sagar CHS, 
            Light House Road, Uttan, Bhayander (W),
             Thane - 401106, Maharashtra, India
            </p>
        </div>
    </div>
    <div class="footer-col">
        <div class="box-info">
           <h4><u>Home of Hope</u></h4> 
           <p>Policy</p>
           <p>Disclaimer</p>
           <p>Contact Us</p>
           <p>Site Map</p>
        </div>
    </div>
</div>
