<div class="front-appearance">
    <div class="navigation">
        <div class="container">
            <div class="logo">
                <a href="">
                <img src="../../../assets/images/logo.png" alt="Home of hope logo"><p>Home of Hope</p>
                </a>
            </div>
            <div class="nav-menu">
                <ul type="none">
                <div class="tabs">
                    <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                    <div class="menu-div">
                        <li > <label for="tab-1" class="tab-label" (click)="myHomePage()">My Home</label></li>
                    </div>
                    
                </div>
                <div class="tabs">
                    <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                    <div class="menu-div">
                        <li ><label for="tab-2" class="tab-label" (click)="childrenPage()">Children Data</label></li>
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                    <div class="menu-div">
                        <li ><label for="tab-3" class="tab-label" (click)="sponsersPage()">About Sponsers</label></li>
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
                    <div class="menu-div">
                        <li ><label for="tab-4" class="tab-label" (click)="donationPage()">Donations</label></li>
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
                    <div class="menu-div">
                        <li ><label for="tab-5" class="tab-label" (click)="logoutPage()">Logout</label></li>
                    </div>
                </div>
                
               
                </ul>
        
        
            </div>
            
        
        </div>
    
    </div>

    <div class="navigated-page">
        
        <router-outlet></router-outlet>
    </div>
</div>
