<div class="navigation">
    <div class="container">
      <div class="logo">
        <a href="">
          <img src="../assets/images/logo.png" alt="Home of hope logo"><p>Home of Hope</p>
        </a>
      </div>
      <div class="nav-menu">
        <ul type="none">
          <li (click)="homePage()">Home</li>
          <li (click)="contactPage()">Contact Us</li>
          <li (click)="supportersPage()">Supporters</li>
          <li (click)="galleryPage()">Gallery</li>
          <li (click)="loginPage()">Login</li>
          <li style="background-color: blue;color:white;padding:0.5%;border-radius: 15%;" (click)="donatePage()">Donate</li>
        </ul>
  
  
      </div>
  
    </div>
  
  </div>